.content-container {
  width: 100%;
  margin-bottom: 3%;
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  column-gap: 2em;
  font-size: 16px;
}

/* time and seasons line */

.content-time-seasons {
  width: 100%;
  font-family: var(--n-bold-font);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: 0.8em 0;
}

.match-percent {
  color: #46d369;
}

.age {
  border: solid 1px rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
}

.hd {
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 0.5em;
  font-size: 0.7em;
  border-radius: 3px;
}

/* extra info */
.content-extra-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 2rem;
  line-height: 20px;
  margin: 0.5em;
  margin-left: 0;
  word-break: break-word;
  font-size: 14px;
  font-family: var(--n-regular-font);
}

.content-extra-info-label {
  color: #777;
  font-weight: bold;
  padding: 0.5rem;
}

.content-extra-info section span::after {
  content: ", ";
}

.content-extra-info section span:last-child::after {
  content: "";
}

/* description */

.title-description {
  line-height: 24px;
  font-size: 14px;
}
