.play-button {
  position: relative;
  width: 100%;
  padding: 0.8rem;
  padding-left: 2rem;
  padding-right: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.4rem;
  background-color: var(--white);
  color: var(--black);
  opacity: 1;
  -webkit-box-align: center;
  appearance: none;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-pack: center;
  user-select: none;
  word-break: break-word;
  white-space: nowrap;
}

.play-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}
