.signup-page {
  background-color: var(--white);
  height: 100vh;
  color: var(--black);
}

/* header */

.signup-header {
  height: 90px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#netflix-logo-signup {
  margin-left: 3%;
  width: 167px;
  height: 45px;
}

.link-login {
  font-size: 1.9rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-right: 3%;
}

.link-login:hover {
  text-decoration: underline;
}

/* Form */

.signup-container {
  text-align: left;
  max-width: 440px;
  margin: 5% auto;
}

.signup-title {
  font-size: 3.2rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-family: var(--text-font);
}

.signup-form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.signup-form input {
  padding-left: 1rem;
  font-size: 2rem;
}

.login-paragraph {
  padding: 2rem;
}

.signup-button {
  width: 100%;
  line-height: 4rem;
}
